
.chat {
    
    border: 1px solid white;
    
}

.list {
    margin: 0;

    max-height: 400px;
    min-height: 100px;
    overflow: auto;
}

.listItem {
    display: block;
    margin: 0;
  
    width: 100%;
    
}

form {
    margin-top: 0.5em;
}

form input.inputText {
    width: 80%;
}

form input.inputSubmit {
    width: 20%;
}

.listItem div {
   
    padding: 0.5em;
    width: auto;
    
}

.right {
    display: flex;
    justify-content: flex-end;
}

.left {
    display: flex;
    justify-content: flex-start;
}


.chatLine {
    border: 1px solid transparent;
    border-radius: 20px;
    display: inline-block;
    color: black;
    font-family: Raleway;
    /* Dancing Script */
    /* Caveat; */
    /* |Dancing+Script|Indie+Flower|Raleway|Shadows+Into+Light */
    background-color: #ccccff;
    max-width: 90%

}

.serverMessage {
    text-align: left;
    font-style: italic;
    border: none;
    border-radius: 0px;
}