.sidebar{
    
    /* background: #ED213A;  
    background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
    background: linear-gradient(to right, #93291E, #ED213A); */

   
    background: #141E30;  
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  
    background: linear-gradient(to left, #243B55, #141E30); 

    color: white;
    
    width: 100%;
    
    

    padding: 1em;
    
    padding-bottom: 3em;

    position: fixed;
    right: 0;
    width: 25%;
    height: 100%;

    overflow: auto;

}

.header{
    text-align: center;

    font-size: 20pt;
    font-weight: bold;
    
    
}