/* .connectionLargeProfile{
    position: relative;
    background-color: aqua;
    top: 10vh;
    
} */

.connProfilePic{
    max-width: 7vw;
    border-radius: 100px;
    width: 7vw;
    position: relative;
    float: left;

}