.individualMiniProfile{
    background-color: white;
    padding: 10px;
    font-size:10px;
    max-width: 250px;
    border-radius: 3vw;
}
.individualMiniProfile:hover{
    background-color: #666666;
    color: white;
   
}
.connSmallProfilePic{
    position: relative;
    left: 3vw;
    max-width: 10vw;
    border-radius: 1000px;
   
}

.info2{
    padding:1vw;
    font-weight: bold;
    font-size: 12pt;
}

