.individualMiniProfile{
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    font-size:10px;
    width: 40%;
    margin-bottom: 5%;
    border-radius: 2vw;
    transition: all 0.6s;
}



.connBackgroundPic{
    position: relative;
    left: 0vw;
    opacity: 0.85;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    width: 100%; 
}

.connProfilePic{
    position: absolute; 
    margin-left: -27%;
    margin-top: 7%;
    margin-bottom: 5%;
    max-width: 8vw;
    border-radius: 100px;
    width: 8vw;
}



.infobord{
    padding-bottom:1vw;
    font-weight: bold;
    font-size: 12pt;
    color: black
}
.info2{
    color: black;
    font-size: 14pt;
    font-weight: bold;
    padding: 3%;
    transition: all 0.6s;
}
.info3{
    color: #555555;
    padding:0vw;
    font-size: 10pt;
    transition: all 0.6s;
}

.infoCont{
    margin-top: 18%;
    text-align: center;
}

.connectButton{
 margin: 5%;
 color: #eeeeee;
 font: bolder;
 transition: all 0.6s;
 font-size:10pt;
 padding-left: 10%;
 padding-right: 10%;
 padding-top:1%;
 padding-bottom:1%;
 background-color: #666666;
 border-radius: 5px;
 text-align: center;
}

.individualMiniProfile:hover {
    /* background-color: black; */
    background: #141E30;  /* fallback for old browsers */
    color: white;  
}

.individualMiniProfile:hover .info3 {
   
        color: white;
    }
.individualMiniProfile:hover .info2 {
        text-decoration: underline;
        color: white;
 }

 .individualMiniProfile:hover .connectButton {
        background-color: #00bb00;
        color: white;
        font-weight: bold;

}

.bottom{
    display: flex;
    margin-left: 4%;
    padding-bottom: 8%;
    padding-top: 5%;
    justify-content: space-around;
}
.info4{
    padding-left: 1.2vw;
    padding-right: 1.6vw;
   border-right-style: solid;
    border-width: 1px;
   border-color: #666666;
   color: #0066ff;
   font-weight: bold;
    font-size: 13pt;
    
}
.info14{
    padding-left: 0.6vw;
    padding-right: 0.8vw;
   font-weight: 400;
    color: #666666;
    font-size: 9pt;
}

.info5{
    padding-left: 1.2vw;
    padding-right: 1.6vw;
   border-color: #666666;
   color: #0066ff;
   font-weight: bold;
    font-size: 13pt;
}
.info15{
    padding-left: 0.6vw;
    padding-right: 0.8vw;
   font-weight: 400;
   color: #666666;
  
    font-size: 9pt;
}
.individualMiniProfile:hover .info4 {
    color:red;
    
}
.individualMiniProfile:hover .info5 {
    color:red;

}
.individualMiniProfile:hover .info14 {
    color:white;
    
}
.individualMiniProfile:hover .info15 {
    color:white;

}
.individualMiniProfile:hover .connBackgroundPic {
    opacity: 1;

}