.smallContainer{
  position: relative;
  align-content: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}




.row{
   position: relative;
   left: 5vw;
}

.profile2{
    padding-top:3vw;
    padding-left: 3vw;
    align-content: center;
}