.connectionCardChat {
    width: 100%;
    font-size: 12pt;
    /* font-weight: bold; */
    height: auto;
    /* line-height: 4em; */
    white-space: nowrap;
    display: flex;
    margin: 1em 0 1em 0;
    padding: 0.3em;
    border-radius: 200px;
    background-color: transparent;
   
}
.connectionCardChat:hover {
    background-color: #eeeeee;
    font-weight: bold;
}

.contactChatPic {
    box-sizing: border-box;
    margin-right: 1em;
    height: 2.5em;
    border-radius: 200px
}

.link{
    color: white;
    text-decoration: none;
}

.connectionCardChat:hover .link {
    color: black;
}

.nbMessages {
    padding: 0.5em;
    position: relative;
    bottom: 1em;
    background-color: red;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}