/* .individualProfile:hover{
 
background-color: black;
}

.individualProfile {
    position: relative;
    display: flex;
    background-color: #009999;
    color: white;
    margin-left: 3em;
    width: 50vw;
    max-width:50vw;
    height: 25vh;
    border-radius: 100vw;
    font-weight: bold;
}

.contain {
    width: 40vw;
    padding-top: 15px

}

.row{
    text-align: left;
    padding-left: 0px;
} */

/* .connProfilePic{
    max-width: 8vw;
    border-radius: 100px;
    width: 8vw;
    margin: 2em;
    
} */