.column2{
    background-color: black;
/*     
    background: #200122; 
    background: -webkit-linear-gradient(to right, #200122, #6f0000); 
    background: linear-gradient(to right, #200122, #6f0000);  */
    color: white;
    max-width: 25vw;
    width: 25vw;
    position: relative;

    left: 60vw;
    height: 300vh;
}

.header{
    position: relative;
    font-size: 20pt;
    font-weight: bold;
    top: 10vh;
}