.filters {
    
    margin-bottom: 2em; 
    padding: 1em;
    text-align: left;
   
    
    
}

.submitFilters{
    color: #ffcc00 !important;
    font-size: 16pt !important;
    padding: 0;
   }
   .submitFilters:hover{
       color: yellow !important; 
   }