.area {
    
        background-color: white;
        position: absolute;
        left: 15vw;
        width: 45vw;
        max-width:60vw;
        height: 100vh;
    }

.title {
    margin-top: 10vh;
}

