.area {
    
        /* background-color: white; */
        position: absolute;
        left: 15vw;
        width: 45vw;
        max-width:60vw;
        height: 100vh;
    }

.title {
    margin-top: 10vh;
    font-size: 30pt;
    font-weight: bold;
}

.spaceOut{
    margin-top: 20vh;
}
