.pic{
    width: 100vw;
    height: 100vh;
}

.contain{
    position: relative;
   
}
.form{
        position: absolute;
        top: 30%;
        left: 5%;
        width: 35vw;
}

.pic2{
    position: absolute;
    width: 3vw;
    margin-top: 5%;
    margin-left: 53.2%;
    transform: rotate(-45deg)
    
}

.input{
    margin: 2%;
    border-radius: 5vw;
    text-align: center;
    /* background-color: #222222 */
    /* background-color: transparent; */
    background-color: ghostwhite;
    outline: none;
  
}
.input2{
    margin: 2%;
    margin-left:22%;
    border-radius: 5vw;
    text-align: center;
    /* background-color: #222222 */
    background-color: transparent;
    outline: none;
}

.login{
    margin-left:19%;
    margin-top: 3%
}

.loginBtn{
    color: white;
    background-color: #ff0033;
   border-radius: 2vw;
}
.loginBtn:hover{
    color: white;
    background-color: #009900
  
}

.heading{
    font-family: 'Lobster', cursive;
    position: absolute;
    margin-left: 44%;
    margin-top: 5%;
    font-size:35pt;
    color: #ff4500;
}