.pic{
    width: 100vw;
    height: 100vh;
}

.contain{
    position: relative;
   
}
.form{
        position: absolute;
        top: 30%;
        left: 5%;
}

.pic2{
    position: absolute;
    width: 3vw;
    margin-top: 12%;
    margin-left: 135%;
    transform: rotate(-45deg)
    
}

.input{
    margin: 3%;
    border-radius: 5vw;
    text-align: center;
    /* background-color: #222222 */
    background-color: transparent;
    outline: none;
  
}
.input2{
    margin: 3%;
    margin-left:22%;
    border-radius: 5vw;
    text-align: center;
    /* background-color: #222222 */
    background-color: transparent;
    outline: none;
}

.login{
    margin-left:28%;
    margin-top: 3%
}

.loginBtn{
    color: white;
    background-color: #ff0033;
   border-radius: 2vw;
}
.loginBtn:hover{
    color: white;
    background-color: #009900
  
}

.heading{
    font-family: 'Lobster', cursive;
    position: absolute;
    margin-left: 108%;
    margin-top: 11%;
    font-size:35pt;
}