.logo{
    width: 1em;
    margin-left: 5%;
    transform: rotate(-45deg)
}

/* Matching logo color on landing page and navbar */
.git{
    color:  #ffcc00;
    text-shadow: 2px 2px #ff0000;
    font-family:lobster,cursive;
}

.git:hover{
 /* font-weight: bold; */
 text-decoration: none;
 color:  yellow;

}

.findCon{
 color: #ffcc00;
 font-size: 16pt;
 display: inline;
 vertical-align: text-bottom;
}
.findCon:hover{
    color: yellow; 
}

/* This is to change the color of the navbar */
.bg-light{
    background-color: black !important;
    /* opacity: 0.90 !important; */
}

.navbar-toggler{
    border: none;
    background-color: transparent;
  
}

.navbar-toggler:focus{
    outline: none;
    
}

.searchItems {
    display: inline;
    font-size: 12pt 
}

.btn {
    display: inline;
    font-size: 12pt !important;
}

.form-inline {
    display: inline;
    padding-top: 0;
    padding-bottom: 0;
}

.form-control {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.text {
    color:  #ffcc00;
    font-size: 12pt;
    display: inline;
}

.links{
    color:  #ffcc00;
    font-size: 12pt;
    display: inline;
    padding: 0;
    
}
.links:hover{
    text-decoration: none;
    color: yellow !important;

}

.navbar-toggler{
    font-size: 12pt !important;
    color:  #ffcc00 !important;
}

.notificationsList {
    max-height: 300px;
    overflow: auto;
    margin-top: 1em;
}