.logo{
    width: 1em;
    margin-left: 5%;
    transform: rotate(-45deg)
}

/* Matching logo color on landing page and navbar */
.git{
    color: #ff4500;
    font-family:lobster,cursive;
}

.git:hover{
 /* font-weight: bold; */
 text-decoration: none;
 color: red;

}

.findCon{
 color:#ff4500;
}
.findCon:hover{
    color: navy;
   
}

/* This is to change the color of the navbar */
.bg-light{
    background-color: black !important;
    opacity: 0.90 !important;
}

.navbar-toggler{
    border: none;
    background-color: transparent;
   color: black !important;
}

.navbar-toggler:focus{
    outline: none;
}
.navbar-toggler:hover{
   color: navy !important;
}

.links:hover{
 text-decoration: none;
 color: red;
}
