.notification {
    display: block;
    background-color: inherit;
    
    border-bottom: 1px solid #e9ebee

}

.readNotification {
    background-color: inherit;
    font-weight: normal
}

.unreadNotification {
    background-color:rgba(255, 204, 0, 0.5);
    font-weight: bold;

}
