.notification {
    display: block;
    background-color: inherit;
    padding: 0.3em;
    border-bottom: 1px solid #e9ebee

}

.readNotification {
    background-color: inherit;
    font-weight: normal
}

.unreadNotification {
    background-color: dodgerblue;
    font-weight: bold;

}
