.notification {
    display: block;
    background-color: inherit;

}

.readNotification {
    background-color: inherit;
    font-weight: normal
}

.unreadNotification {
    background-color: dodgerblue;
    font-weight: bold;

}