

/* Please rewrite the commented sections, they're messing up the side columns */
.area {
    background-color: #e9ebee;
}

.connect{
   position: relative;
   width: 8em;
    margin-bottom: 5%;
     margin-left: 8%;
    background-color: #141E30;  /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-weight: bold;
    font-size: 14pt;   
}   

.connect2{
    position: relative;
    margin-top: 2.6em;
    margin-left: 9em;
    background-color: #ffcc00;
    color:black;
    font-weight: bold;
    font-size: 14pt;   
    z-index: +1;
 }

.connect:hover{
   color: black;
   background-color: white;
}
.connect2:hover{
    color: white;
    background-color:red;
}

.twoButtons{
    position: relative; 
}
.name{
    position: absolute;
    margin-top: 3%;
    margin-left: 24%;
    font-size: 25pt;
    color: #141E30
}
.name2{
    position: absolute;
    max-width: 35%;
    margin-top:7%;
    margin-left: 24%;
    font-size: 15pt;
    font-weight: bold;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Indie Flower', cursive;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Shadows Into Light', cursive; */
    color: #141E30
}

.rating{ 
    height: 3vh;
    max-width: 10vw;  
}

.progress{
    margin-left: 30%;
    margin-top :10%;
    height: 3vh;
    width: 15vw;
}

.reminder{
    position: absolute;
    top:80vh;
    left:15vw;
}

.postReview {
    position: absolute;
    
    background-color: #00aa00;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    padding: 1vw;
    border-radius: 1vw;
    
   
    top: 90vh;
    left: 15vw;
}

/* This also messes up the side columns
.connections{
    position: absolute;
    margin-top: 10%;
}*/
.connections{
    position: relative;
    margin-top: 5%;
}
.connProfilePic2{
 
    width: 26.7%;
    margin-left: 10%;
    margin-top: 2em;
}

.individualMiniProfile2{
    background-color: white;
    margin-left: 10%;
    margin-right: 3%;
    margin-top: 10%;
    font-size:10px;
    width: 80%;
    margin-bottom: 5%;
    /* border-radius: 2vw; */
}

.infoCont2{
    text-align: center;
}

.card{
    text-decoration: none;
    border-radius: 0rem;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom-color: white;
}

.accordion2{
    margin-left: 10%;
    width: 16vw;
  
}

.btn-link{
 color: white;
 text-decoration: none;
}
.btn-link:hover{
    color: #ff4450;
    text-decoration: none;
}

.card-header{
    /* text-align: center; */
    padding: 0.25rem 0.5rem;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background-color: white; */
}
.card-body{
    /* background-color: white; */
    font-family: 'Raleway', sans-serif;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D7DDE8, rgb(154, 160, 175));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #D7DDE8, rgb(154, 160, 175)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background: #ED213A;  
    background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
    background: linear-gradient(to right, #93291E, #ED213A);  */
    color:black;
    font-weight: bold;
    /* color:white; */
    padding: none;
    padding-left:3%;
    padding-right:3%;
    text-align: center;
}

.flex{
    display: flex;
}

.revTitle{
    position: absolute;
    margin-left: 24%;
    margin-top: 7vh;
    font-size: 20pt;
    color: #141E30
}

.connetionHeader{
    position: relative;

    margin-left: 8%;

    color: #141E30
}

#collapseFifteen{
    border-bottom: solid;
}

.reviews{
       position: relative;
       margin-top: 3%;
        margin-left: 0%;
        font-size: 9pt;
        color: #141E30;
}

.oneRev{
    margin: 0%;
    text-align: center;
    /* width: 100%; */
    width: 35em;
    padding: 2%;
    border-style: solid;
    color: white;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}

.star{
    position: relative;
    width: 3vw;
    color: #ffcc00;
    
}



