.profileName{
   font-size: 16pt;
   padding-bottom: 20px;
   text-align: center;
   text-shadow: 2px 2px black;
}
.profilePic{
    margin-top: 15%;
    margin-left:15%;
    max-width: 70%;
    border-radius: 200px;
    
}

.profilePic2{   
    max-width: 18%;
    position: absolute;
    margin-top: 14%;
    margin-left:10%;
    border-radius: 1000px;
    align-content: center;  
}

.space{
    margin-top: 1em;
}

.innerText{
    font-size: 12pt;
}



.btn{
    background-color: transparent;
    font-size: 15pt;
    border: none;
    color:white;
    outline: none;
}

.btn:hover{
    color: #ffcc00;
}

.btn:focus{
    box-shadow: none;
}
.card-body{
   color: white;
}



.info{
 border-bottom-style: solid;
 border-color: white;
 border-width: 1px;
}
.info:hover{
    border-color:  #ffcc00!important;
}



.info:hover .btn {
    font-weight: bold;
    color:  #ffcc00;
}