.profileSidebar{
    /* background: #ED213A;  
    background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
    background: linear-gradient(to right, #93291E, #ED213A);  */
  
   

    /* background: #f85032;  
background: -webkit-linear-gradient(to right, #e73827, #f85032);  
background: linear-gradient(to right, #e73827, #f85032);  */

background: #141E30;  
background: -webkit-linear-gradient(to left, #243B55, #141E30);  
background: linear-gradient(to left, #243B55, #141E30);  


color: white;
    
padding: 1em;


position: fixed;
left: 0;
width: 15%;
height: 100%;

overflow: auto;

border-bottom: 1px solid black;
  
}


