.profileLabel {
    font-size: 14pt;
    margin: 0 1em 0 1em;
    display: inline-block
}

.fieldLabel {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 1em;
}

input.form-control {
    width: 60%;
    margin-bottom: 0.5em; 
}


.userProfilePic{
    
    
    border-radius: 200px;
    width: 100%;
    
    
    
}

.picBackground{
    background-color: lightgray;
    max-width: 25%;
    
    
    
}