.userProfile {
    background-color: #cccccc;
    padding: 1em;
    height: 100%;
    padding-bottom: 5em;
}

.profileLabel {
    font-size: 14pt;
    margin: 0 1em 0 1em;
    display: inline-block
}

.addButton {
    margin: 0.5em 1em 0 1em;
    display: block
}

.fieldLabel {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 1em;
}

.listItem {
    display: flex;
    justify-content: space-between;
    
}

.pictureSelection {
    display: inline-block;
    padding: 1em;
    font-size: 10pt;
    background-color: lightblue;
}

.pictureSelection button {
    display: block;
    margin-top: 0.5em;
}

select.form-control {
    width: 60%;
    margin-bottom: 0.5em; 
    margin-top: 1em;
}

input.form-control {
    width: 60%;
    margin-bottom: 0.5em; 
    margin-top: 1em;
}

textarea.form-control {
    width: 90%;
    margin-bottom: 0.5em; 
}

.userProfilePic{
    
    padding: 1em;
    border-radius: 200px;
    max-height: 200px;
    display: block;

    
}
