.App {
  text-align: center;
}
/* .flex{
  margin-top: 40px;
  display: flex;
} */
.cont{
  display: flex;
  width: 100%
}

.col1{

  text-align: center;
  width: 15%;
  height: 300vh;
  background-color: black;
  color: white;

}
.col2{

  text-align: center;
  width: 60%;
  height: 300vh;
}
.col3{
  background-color: black;
  text-align: center;
  width: 25%;
  height: 300vh;
  color: white;
}
